version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: maven
    directory: /
    schedule:
      interval: daily

  # TODO not sure if dependabot will recognize non-standard pom file names? 
  - package-ecosystem: maven
    directory: /tck-dist/src/main/starter/
    schedule:
      interval: daily
